<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Woo Products</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <ion-card *ngIf="viewState$ | async as vs">
      <div>
        <ion-card-content *ngFor="let p of productsList">
          {{ p?.name }}
        </ion-card-content>
      </div>
    </ion-card> -->
  </div>
</ion-content>