// .jarallax-image-local{
//     width: 500px;
//     height: 350px;
// }
ion-toolbar.top-toolbar {
    display: flex;
    align-items: center;

    ion-title {
        ion-icon.top-logo-icon {
            font-size: 5rem;
            margin-top: 1%;
        }
    }
}

.image {
    height: 55vh;
    background-size: cover;
    background-position: 50% 50%;
}

ion-toolbar.header-toolbar {
    height: 100%;
}

ion-row.address-row {
    display: flex;
    align-items: center;
}

ion-row.address-icon {
    font-size: 2rem;
}

.terms-row {
    a {
        color: inherit;
        font-size: 0.8rem;

    }
}

ion-row.copy-row {
    font-size: 0.6rem;
}

.scotland {
    margin: 0;
    padding: 0;
    height: 1.2rem;
}

.banner {
    background-color: transparent;
    position: relative;
    margin-top: -0vh;
    margin-left: 10vw;
    margin-right: 10vw;
    z-index: 9;
}

ion-card.banner-card {
    background-color: rgba(203, 202, 204, 0.5);
    height: 30vh;

    ion-card-content {
        // background-color: var(--ion-color-medium);
    }
}
