<ion-header [translucent]="true">
  <ion-toolbar class="top-toolbar">
    <ion-title>
      <ion-icon class="top-logo-icon" src="assets/logo/Nd-graphics-logo.svg"></ion-icon>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" fill="outline" shape="round">
        <ion-icon name="call"></ion-icon>
      </ion-button>
      <ion-button color="secondary" id="open-modal" fill="outline" shape="round">
        <ion-icon name="mail"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="local-ion-content" no-bounce has-bouncing="false" forceOverscroll="false">
  <div>
    <div class="image jarallax"></div>
  </div>
  <!-- <ion-header collapse="condense" class="condense-header">
    <ion-toolbar class="header-toolbar">
      <div class="image jarallax"></div>
    </ion-toolbar>
  </ion-header> -->
  <!-- <div class="banner">
    <ion-card class="banner-card">
      <ion-card-header>
        <ion-card-title class="chalkduster-font">
          <ion-text color="secondary">
            Welcome to
          </ion-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/logo/logo.png">
      </ion-card-content>
    </ion-card>
  </div> -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" size-lg="4" *ngFor="let bn of frontBanner">
        <ion-card>
          <ion-card-header>
            <img [src]="bn.image" alt="" class="img-fluid">
          </ion-card-header>
          <ion-card-content>
            <h5 class="py-3">
              {{ bn.title }}
            </h5>
            <p class="text-muted">
              {{ bn.content }}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-col size-sm="12" size-md="6" size-lg="6" class="ion-text-center">
      <ion-text>
        <h1>Signs</h1>
      </ion-text>
      <swiper-container class="mySwiper" zoom="true" navigation="true" pagination="true" pagination-clickable="true">
        <swiper-slide *ngFor="let image of signsGallery; let i=index">
          <div class="swiper-zoom-container">
            <img [src]="image.thumb" (click)="openSignsGallery(i)" />
          </div>
        </swiper-slide>
      </swiper-container>
    </ion-col>

    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="6" size-lg="6" class="ion-text-center">
        <ion-text>
          <h1>Vehicles</h1>
        </ion-text>
        <swiper-container class="mySwiper" zoom="true" navigation="true" pagination="true" pagination-clickable="true">
          <swiper-slide *ngFor="let image of vehiclesGallery; let i=index">
            <div class="swiper-zoom-container">
              <img [src]="image.thumb" (click)="openVehiclesGallery(i)" />
            </div>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col size="12">
        <h5 class="pb-2">Get in Touch</h5>
        <p class="text-muted">Don’t miss any updates!</p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center icons-row">
      <ion-col size="4">
        <ion-button fill="clear" fill="outline">
          <ion-icon class="mdi mdi-facebook"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button fill="clear" fill="outline">
          <ion-icon class="mdi mdi-instagram"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button fill="clear" fill="outline">
          <ion-icon class="mdi mdi-linkedin"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="address-row">
      <ion-col size="6">
        <form>
          <input [(ngModel)]="subscribeEmail" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
            id="Email" placeholder="Email id">
        </form>
        <div class="pt-3">
          <ion-button (click)="subscribe()" expand="block" fill="solid" shape="round">
            Subscribe
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <p class="text-muted">
          518 Schmeler Neck<br>
          Fraserburgh - Scotland
        </p>
        <div class="pt-2">
          <p class="text-muted m-0">{{ 'mikayla_beer@feil.name' }}</p>
          <p class="text-muted m-0">906-179-8309</p>
        </div>
      </ion-col>
    </ion-row>

    <!-- <ion-row class="ion-text-center terms-row">
      <ion-col size="4">
        <a>
          Terms &
          Conditions
        </a>
      </ion-col>
      <ion-col size="4">
        <a>
          Privacy policy
        </a>
      </ion-col>
      <ion-col size="4">
        <a>
          Cookie Policy
        </a>
      </ion-col>
    </ion-row> -->

    <ion-row class="text-muted ion-text-center copy-row">
      <ion-col size="12" class="border-top">
        Copyright © 2023 - All rights reserved.
      </ion-col>
      <ion-col size="12">
        made with
        <ion-icon color="danger" name="heart"></ion-icon>
        in
        <img class="scotland" src="assets/icon/scotland.png" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="shareLink(shareInfo)" color="secondary">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Contact US!</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="Name">Name</label>
              <input type="text" class="form-control" id="Name" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="Email">Email</label>
              <input type="email" class="form-control" id="Email-1" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="Message">Message</label>
              <textarea class="form-control" id="Message" placeholder="Enter your Message"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <ion-button (click)="cancel()" expand="block" fill="outline" shape="round" color="secondary">
            Cancel
          </ion-button>
          <ion-button (click)="confirm()" expand="block" fill="outline" shape="round" color="primary">
            Submit
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
