<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>nd-graphics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <ion-img [src]="'assets/shapes.svg'"></ion-img>
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h1>Vehicles</h1>
        </ion-text>
        <swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper"
          zoom="true" navigation="true" pagination="true" pagination-clickable="true">
          <swiper-slide *ngFor="let image of gallery">
            <div class="swiper-zoom-container">
              <img src="{{ image }}" />
            </div>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h1>Signs</h1>
        </ion-text>
        <swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper"
          zoom="true" navigation="true" pagination="true" pagination-clickable="true">
          <swiper-slide *ngFor="let image of gallery">
            <div class="swiper-zoom-container">
              <img src="{{ image }}" />
            </div>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/>
</ion-content>