<ion-header>
  <ion-toolbar class="home-toolbar">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <section class="mb-10">
    <div class="p-5 text-center bg-image jarallax"
      style="background-image: url(&quot;assets/banners/shop.png&quot;); height: 500px; background-size: cover; background-position: 50% 50%;"
      aria-controls="#picker-editor"></div> <!-- Background image -->
    <div class="container">
      <div class="card mx-4 mx-md-5 text-center shadow-5-strong"
        style=" margin-top: -170px; background: hsla(0, 0%, 100%, 0.7); backdrop-filter: blur(30px); ">
        <div class="card-body px-4 py-5 px-md-5">
          <h1 class="display-10 fw-bold ls-tight mb-4">
            <span>Welcome to my</span>
            <br>
            <span class="text-primary">
              Online Shop!
            </span>
          </h1>
          <!-- <a id="present-alert" class="btn btn-outline-primary btn-lg py-3 px-5 mb-2 mb-md-0 me-md-2" role="button">
            ENTER SHOP
          </a> -->

          <ion-button id="present-alert" class="py-3 px-5 mb-2 mb-md-0 me-md-2" fill="outline" size="large">
            ENTER SHOP
          </ion-button>

          <ion-alert trigger="present-alert" header="Thank you for your visit"
            message="on-line shop is coming soon!" [buttons]="alertButtons">
          </ion-alert>

        </div>
      </div>
    </div>
  </section>

  <ion-row>
    <ion-col size="12">
      <section class="mb-10 text-center text-lg-start">
        <h2 class="fw-bold mb-5 text-center">
          Welcome
        </h2>
        <!-- <div class="row gx-lg-5">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <div>
              <div class="bg-image hover-overlay ripple shadow-1-strong rounded-4 mb-4" data-mdb-ripple-color="light">
                <img src="assets/banners/bebidas.png" class="w-100" alt="" aria-controls="#picker-editor">
              </div>
              <h5 class="fw-bold">Entrega a domicilio</h5>
              <div class="mb-3 text-danger small"> <i class="fas fa-fire me-2"
                  aria-controls="#picker-editor"></i><span>Hot
                  news</span> </div>
              <p class="text-muted"> Ut pretium ultricies dignissim. Sed sit amet mi eget urna placerat vulputate.
                Ut vulputate est non quam dignissim elementum. Donec a ullamcorper diam. </p>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div>
              <div class="bg-image hover-overlay ripple shadow-1-strong rounded-4 mb-4" data-mdb-ripple-color="light">
                <img src="assets/banners/acougue.png" class="w-100" alt="" aria-controls="#picker-editor">
              </div>
              <h5 class="fw-bold">Servimos festas e eventos</h5>
              <div class="mb-3 text-primary small"> <i class="fas fa-flask me-2"
                  aria-controls="#picker-editor"></i><span>Experiment</span> </div>
              <p class="text-muted"> Suspendisse in volutpat massa. Nulla facilisi. Sed aliquet diam orci, nec
                ornare metus semper sed. Integer volutpat ornare erat sit amet rutrum. </p>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div>
              <div class="bg-image hover-overlay ripple shadow-1-strong rounded-4 mb-4" data-mdb-ripple-color="light">
                <img src="assets/banners/cleaning.png" class="w-100" alt="" aria-controls="#picker-editor">
              </div>
              <h5 class="fw-bold">Faça seu pedido por telefone</h5>
              <div class="mb-3 text-warning small"> <i class="fas fa-sun me-2"
                  aria-controls="#picker-editor"></i><span>Family friendly</span> </div>
              <p class="text-muted">Curabitur tristique, mi a mollis sagittis, metus felis mattis arcu, non vehicula
                nisl dui quis diam. Mauris ut risus eget massa volutpat feugiat. Donec.</p>
            </div>
          </div>
        </div> -->
      </section>
    </ion-col>
  </ion-row>

  <div class="view jarallax" style="height: 20vh;">
    <img class="jarallax-img" src="assets/parallax/hd-4.jpg" alt="">
  </div>

  <!-- <ion-row class="ion-padding">
    <ion-col size="12">
      <section class="mb-10">
        <h2 class="fw-bold mb-5 text-center">Nossas Ofertas</h2>
        <div class="row gx-lg-5 align-items-center mb-5">
          <div class="col-md-6 mb-4 mb-md-0">
            <div class="bg-image hover-overlay ripple shadow-4-strong rounded-4 mb-4" data-mdb-ripple-color="light">
              <img
                src="https://images.unsplash.com/photo-1613454320437-0c228c8b1723?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5NjI0M3wwfDF8c2VhcmNofDF8fGJlZWZ8ZW58MHx8fHwxNjk5NjMyODI2fDA&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="w-100" alt="" aria-controls="#picker-editor">
            </div>
          </div>
          <div class="col-md-6 mb-4 mb-md-0">
            <h3 class="fw-bold">Melhor açougue da região</h3>
            <div class="mb-2 text-danger small">
              <i class="fas fa-globe-americas me-2" aria-controls="#picker-editor"></i>
              <span>Travels</span>
            </div>
            <p class="text-muted">Ut pretium ultricies dignissim. Sed sit amet mi eget urna placerat vulputate. Ut
              vulputate est non quam dignissim elementum. Donec a ullamcorper diam.</p>
          </div>
        </div>
        <div class="row gx-lg-5 align-items-center mb-5 flex-lg-row-reverse">
          <div class="col-md-6 mb-4 mb-md-0">
            <div class="bg-image hover-overlay ripple shadow-4-strong rounded-4 mb-4" data-mdb-ripple-color="light">
              <img
                src="https://images.unsplash.com/photo-1597362925123-77861d3fbac7?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5NjI0M3wwfDF8c2VhcmNofDJ8fHZlZ2V0YWJsZXN8ZW58MHx8fHwxNjk5NjMyODc0fDA&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="w-100" alt="" aria-controls="#picker-editor">
            </div>
          </div>
          <div class="col-md-6 mb-4 mb-md-0">
            <h3 class="fw-bold">Feirinha todas as quartas e quintas feiras</h3>
            <div class="mb-2 text-primary small">
              <i class="fas fa-palette me-2" aria-controls="#picker-editor">
              </i>
              <span>Art</span>
            </div>
            <p class="text-muted">Suspendisse in volutpat massa. Nulla facilisi. Sed aliquet diam orci, nec ornare
              metus semper sed. Integer volutpat ornare erat sit amet rutrum.</p>
          </div>
        </div>
        <div class="row gx-lg-5 align-items-center mb-5">
          <div class="col-md-6 mb-4 mb-md-0">
            <div class="bg-image hover-overlay ripple shadow-4-strong rounded-4 mb-4" data-mdb-ripple-color="light">
              <img
                src="https://images.unsplash.com/photo-1551024709-8f23befc6f87?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5NjI0M3wwfDF8c2VhcmNofDN8fGRyaW5rc3xlbnwwfHx8fDE2OTk2MzI5MDh8MA&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="w-100" alt="" aria-controls="#picker-editor">
            </div>
          </div>
          <div class="col-md-6 mb-4 mb-md-0">
            <h3 class="fw-bold">Tudo para sua festa e ocasiões especiais</h3>
            <div class="mb-2 text-warning small">
              <i class="fas fa-money-bill me-2" aria-controls="#picker-editor"></i>
              <span>Business</span>
            </div>
            <p class="text-muted">Curabitur tristique, mi a mollis sagittis, metus felis mattis arcu, non vehicula
              nisl dui quis diam. Mauris ut risus eget massa volutpat feugiat. Donec.</p>
          </div>
        </div>
      </section>
    </ion-col>
  </ion-row> -->



  <!-- <div class="view jarallax" style="height: 50vh;">
    <img class="jarallax-img" src="assets/parallax/hd-2.jpg" alt="">

    <div class="logo-svg">
      <svg viewBox="0 0 500 200">
        <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" />
        <text width="200">
          <textPath xlink:href="#curve">
            Bem - vindo!
          </textPath>
        </text>
      </svg>
    </div>
  </div>

  <ion-card>
    <ion-card-content>
      <ion-img [src]="'assets/banners/cleaning.png'"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-img [src]="'assets/banners/acougue.png'"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-img [src]="'assets/banners/bebidas.png'"></ion-img>
    </ion-card-content>
  </ion-card> -->

  <ion-grid fixed class="footer-grid">
    <ion-row class="top-row">
      <ion-col>
        <h2 class="fw-bold">
          <span>Nossos Serviçoes </span>
        </h2>
      </ion-col>
    </ion-row>
    <ion-row class="bottom-row">
      <ion-col class="footer-top-col">
        <ion-text color="primary">
          <h5 class="text-muted mb-0">Salgados na hora</h5>
        </ion-text>
        <ion-button fill="outline">
          <ion-icon slot="icon-only" class="fa-solid fa-bowl-food"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="footer-top-col">
        <ion-text color="primary">
          <h5 class="text-muted mb-0">Padaria completa</h5>
        </ion-text>
        <ion-button fill="outline">
          <ion-icon slot="icon-only" class="fas fa-bread-slice"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="footer-top-col">
        <ion-text color="primary">
          <h5 class="text-muted mb-0">Serve café fresco</h5>
        </ion-text>
        <ion-button fill="outline">
          <ion-icon slot="icon-only" class="fa-solid fa-mug-saucer"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>