.jarallax {
  height: 50vh;
}

ion-grid.footer-grid {

  ion-row.top-row {
    text-align: center;
    background-color: var(--ion-color-light-tint);
  }

  ion-row.bottom-row {
    text-align: center;
    height: 200px;
    background-color: var(--ion-color-light-tint);
  }

}